/*RESPONSIVE*/

@media screen and (min-width: 320px) and (max-width: 1440px){
    .tracksMobile{
        display: none;
    }
    .fondoMobile{
        display: none;
    }
    .navbar{
        visibility: hidden;
    }
}

@media screen and (min-width: 0px) and (max-width: 460px){
    body{
        background-color: black;
    }
    *{
        overflow-x: hidden;
    }
    footer{
        display: none;
    }
    .navbar{
        visibility: visible;
    }
    .nav-link{
        font-size: x-large;
        font-weight: bold;
        color: red;
    }
    .menu{
        display: none;
    }
    .navbar-toggler{
        color: red;
    }


    .titulosExtra{
        margin-top: 70px;
        display: flex;
        justify-content: center;
        text-align: center; 
        font-size: 40px;
    }
    .titulosExtra2{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        text-align: center; 
        font-size: 30px;
    }

    
    .parrafo li{
        font-size: medium;
        display: block;
        align-content: center;
        justify-content: center;
    }
    .btn{
        font-size: medium;
    }
    #merchForm{
        font-size: medium;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .buttonMerch{
        font-size: medium;
    }
    .card{
        width: 75%;
    }
    .col{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}