
@media screen and (min-width: 0px) and (max-width: 460px){
.parrafo li{
        font-size: medium;
        display: block;
        align-content: center;
        justify-content: center;
    }
    .btn{
        font-size: medium;
    }
    #merchForm{
        font-size: medium;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .buttonMerch{
        font-size: medium;
    }
    .card{
        width: 75%;
    }
    .col{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}