@import "header";
@import "footer";
@import "index";
@import "discography";
@import "tour";
@import "merch";
@import "contact";

*{
    padding: 0%;
    margin: 0%;
}

/*general*/
.titulosExtra, .titulosExtra2{
    font-family: 'Sarpanch', sans-serif;
    font-size: 50px;
    text-align: center;
    color: red;
    margin-top: 15px;
}
